
*{  
    background-color: white;
    margin: 0 auto;
    box-sizing:border-box
    
}

.imgApoio{
    width:25%;
    margin: 30px 30px 0% 9%;
    padding-bottom:35px;
    border-radius: 12px 12px;
}

h3, p{
    font-size:40px;
    background-color: rgba(0, 113, 9, 0.0);
    font-family: 'Bree Serif', serif;
    font-weight: bolder; 
    float:left   
}
p{
    font-weight:normal;
    font-size: 20px;
    margin-bottom: 10px;
}

#background{
    height: 500px;
    width:500px;
}

/* INICIO HEADER */

#logo{
    background-color: rgb(0, 0, 0, 0.0);
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    width: 6%;
}

#header{
    color: red;
    height: 200px;
    width: 100%;
    background-color: #000;
    margin: 10px solid #ffc918;
    box-shadow: #000 0px 0px 10px;
}

h1{
    font-family: 'Kaushan Script', cursive;   
    font-size: 450%;
    color: #ffffff; 
    float: left;
    margin-left: 2%;
    background-color: #000;
}

.txtSlider{
    color: black;
    outline: 5px solid rgb(0, 0, 0);
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
}
.navH{
    margin: -554px 0px 0px 20px;
    width: 200px;
    height: 180px;
}
.navUlLiH{
    float: none;
    width: 200px;
    margin-top: 10px;
}
.navHA:hover{
    padding-right: 40px;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    text-decoration: underline #fff;
}
.navHA{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
nav{
    width:100%; 
	height:20px;
	border-top:4px solid red;
	margin:20px 0px 0px -4px;
	float:left;
    background-color: #000;
}

nav ul{
    list-style-type:none;
    margin:0;
	padding:0;
    background-color: #000;
}
.navUlLiH{
    float: none;
    width: 200px;
    margin-top: 10px;
    margin-left: 0px;
    
}
nav ul li{
    float: left;
    font-size: 190%;
    width: 15%;
    margin: 10px 20px 0px 100px;   
    background-color: #000;
}

nav ul li a, .dropdown-content a {
	text-decoration:none;
	padding-left:20px;
    padding-right: 50px;
	display:block;
    background-color: #000;
	color: white;
    font-family: 'Bree Serif', serif;
	text-shadow: #fff 0px 0px 2px;	
}
 nav ul li a:hover, .link a:hover{
	text-decoration:underline;
}

.dropdown{
  position: relative;
  background:#000;
}

.dropdown-content{
  display: none;
}

.dropbtn, .link2{
  font-family: 'Bree Serif', serif;
  font-size: 100%;
  color: white;
  background-color: #000;
  border: none;
  text-decoration: none;
  text-shadow: #fff 0px 0px 2px;	
}
.dropdown-content a:hover {
	background-color: white;
	color: red;
}

.dropdown:hover .dropdown-content {display: block;}
/* FIM HEADER (EU ACHO)*/

#Intro{
    font-family: 'Kaushan Script', cursive;
    font-size: 350%;
    color: black; 
	margin: 20px 0px 20px 20%;
    padding-left: 180px;
}
.nomeMenu{

	font-family: 'Kaushan Script', cursive;   
    font-size: 50px;
    color: #000; 
    text-align: center;
    margin: 10px;
	
}
.divider{
	width: 100%;
	height: 5px;
	background-color: #000000;
}	


.slideshow-container {
    width: 100%;
    float: right;
    margin: auto;
    border-bottom: 10px solid black;
    color: white;
}
.mySlides {
    display: none;
    color: white;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}


#sobre, #cardapio, #footer{
    margin: 150px 50px 120px 50px;
    float:left;
    width: 50%;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    background-color: #b40001;
    box-shadow: #000 10px 10px 15px;
    color: white;    
}

#cardapio{
    color:#f2f2f2;
    margin: 150px 0px 100px 0px;
    background-color: #b40001;
    width: 100%;
    height: 350px;
	color: #ffc31d;
    box-shadow: #000 10px 10px 15px;
    border-top: 4px solid black;

}

#footer{
	margin: 150px 0px 0px 0px;
	height: 250px;
}
#footer nav ul li{
	width: 100%;
	margin: 15px 100% 20px 5px;
}	


#cardapio p{
	max-width: 49%;
	margin: 70px 0px 0px -50%;
	float: left;
	text-align: center;
}	





.link2{
	margin: 0px 40px 0px 0px;
	float: left;
	font-size: 50px;
	text-shadow: none;	
}

.link{
	margin: 250px 40px 0px 0px;
}	
.menu{
    margin-top: 20px;
    width: 1060px;
    height: 550px;
    display: block;
    background-color:#b40001;
    box-shadow: #000 10px 10px 15px;
    padding-bottom: 35px;
    border-radius: 12px;
}

.comidas, .comidas1, .comidas1H{
    width: 200px;  
    height: 200px;  
    float: left;
    box-shadow: #000 0px 0px 3px;
}
.comidas{
    margin: 50px 0px 50px 50px;
}
.comidas1 {
    margin: 0px 0px 50px 50px;
}
.comidas1H{
    margin-left: 170px;
}




#navegado{
    width: 200px;
    height: 550px;
    float: left;
    margin-top: -555px;
    margin-left: 20px;
}

#tudoLocal{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0, 0.8);
}

#mapa{
    width: 620px;
    height: 500px;
    border: none;
    float: right;
    border-radius: 5px;
    margin-right: 300px;
    margin-top: 40px;
}

.subtitulo{
    font-size: 120%;
    margin-top: 30px;
}

#endereco{
    color: #000;
    margin: 80px 20px -50px 500px;
    font-size: 120%;
    width: 600px;
    height: 300px;
    text-align: justify;
    float: left;
    font-family: 'Hind', sans-serif;
    border: #b40001 5px solid;
    padding-left: 50px;
    padding-right: 20px;
}

.enderecoText, #endereco, .subtitulo{
    background-color: rgb(0, 0, 0, 0);
    font-size: 25px;
}
body{
    background-position: fixed;
    background-size: 100%;
}


.imgMei{
   display: block;
   width: 20%;
   background-color: #000;
   animation: anima;
   animation-duration:5s ;
   animation-iteration-count:infinite ;
}
@keyframes anima {
    0%{
        margin-left: 80%;
    }
    50%{
        margin-left: 0%;
    }
    100%{
        margin-left: 80%;
        
    }
    
    
}
.end{
    width: 30%;
    display: block;
    border: 3px solid black;
    
}

.Intro, .IntroMenu{
	font-family: 'Bree Serif', serif;   
    font-size: 350%;
    color: #000000; 
    float: middle;
	
}
.Intro{
    margin: 20px 0px 5px 15%;
    
}
.IntroMenu{
    text-align: center;
}
.nomeMenu{
    text-shadow: #fff 2px 2px 10px;
	font-family: 'Kaushan Script', cursive;   
    font-size: 50px;
    color: #000; 
    text-align: center;
    margin: 10px;
	
}

.sla{
    margin-top: 30px;
    background-color: #000;
    box-shadow: 0px 0px 20px 7px #000;
    
}
#align-menu{
    padding-left: 180px;
    color: white;

}
.menu-style{
    color: white;
}
a:hover{
    color: red;

}
.dropbtn:hover{
    color: red;
}
.dropdown-content:hover{
    color: red;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.cantinho-text{
    padding-top: 22px;
    color: white;
}
.sobre-text{
    color: #f3ede5;
}
.sobre{
    padding-left: 20px;
}
#footer{
    margin-top: 70px;
    padding-top: 130px;
    color:#f2f2f2;
    margin: 150px 0px 100px 0px;
    background-color: #b40001;
    width: 100%;
    height: 350px;
	color: #ffc31d;
    box-shadow: #000 10px 10px 15px;
    
}
.imgApoio2{
    left: 30px;
}

.container-color{
    background-color: white;
}
#heaven{
    color: red;
    height: 220px;
    width: 100%;
    background-color: #000;
    margin: 10px solid #ffc918;
    box-shadow: #000 0px 0px 10px;
}
.padding-test{
    padding-bottom: 35px;
}

.padding-test2{
    padding-bottom: 35px;
}
.height-height{
    height: 100px;


}